{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список Заметок <span style="color: #568a1b">{{ app.session.get('welcomeMessage') }} {{ app.user.username }}</span></h1>
    {% for note in notes %}
        <div class="block-note">
            <p>{{ note.content }}</p>
        </div>
    {% endfor %}
    <h1>Форма для добавления заметки</h1>
    {{ form_start(formNote) }}
    {{ form_widget(formNote) }}
    {{ form_end(formNote) }}
{% endblock %}